body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: input-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #43ff04;
}

ul {
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 30;
    padding-left: 20%;
    padding-right: 20%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.rps-title-header {
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: black;
}

.rps-title-subheader {
    font-weight: lighter;
    font-size: 20px;
    color: black;
}

.rps-buttons-layout-player {
    margin-top: 5%;
    margin-bottom: 10px;
}

.rps-buttons-player {
    border-radius: 8px;
    width: 100px;
    height: 100px;
    margin: auto;
    border: none;
    background-color: #004E72;
    color: white; 
}

.rps-buttons-computer {
    border-radius: 8px;
    width: 100px;
    height: 100px;
    margin: auto;
    border: none;
    background-color: #8EB07F;
    color: white;
}

.rps-results {
    height: 40vh;
}

.rps-footer {
    background-color: black;
}

.rps-title-signature {
    font-family: casey, sans-serif;
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
    color: #4f4789;
}

